---
import ProjectCard from "./ProjectCard.astro";

interface ProjectEntry {
  title: string;
  description: string;
  image: string;
  link: string;
  category: string;
}

interface Props {
  projects: ProjectEntry[];
}

const { projects } = Astro.props;
---

<section
  class="grid grid-cols-1 items-start gap-x-8 gap-y-10 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3"
>
  {
    projects.map((project) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        image={project.image}
        link={project.link}
        category={project.category}
      />
    ))
  }
</section>
